<h1><%= @account.name %> Account</h1>
<li><%= link_to "Delete account", account_path, method: :delete %></li>
  <% @account.stocks.each do |stock| %>
      <%= stock.ticker %>
  <% end %>
<%# link_to "add a stock", new_account_stock_path(@account) %>
     <%= render 'stocks/new' %>
